<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Documento sin título</title>
<link href="../SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="../SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script src="js/jquery-1.8.0.min.js"></script>
<script src="js/jquery.sBubble-0.1.1.js"></script>
<script src="jquery.ui.datepicker-es.js"></script>
<link rel="stylesheet" href="css/jquery.sBubble-0.1.1.css" />
<link rel="stylesheet" type="text/css" href="../nov12/estilos2.css"/>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<script type="text/javascript" src="../nov12/funciones.js"></script>
<script type="text/javascript">
function mostrarReferencia(){
//Si la opcion con id Conocido_1 (dentro del documento > formulario con name fcontacto >     y a la vez dentro del array de Conocido) esta activada
if (document.getElementById('mes_corresponder').onfocus == true) {
//muestra (cambiando la propiedad display del estilo) el div con id 'desdeotro'
document.getElementsByClassName('ui-datepicker-calendar').style.visibility="hidden";

}

}
-->
</script>
<style type="text/css">
.azul {
	color: #00F;
	font-weight: bold;
}
</style>
<style>
  .button
  {
  border: 1px solid #DBE1EB;
  font-size: 18px;
  font-family: Arial, Verdana;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  background: #4972B5;
  background: linear-gradient(left, #4972B5, #618ACB);
  background: -moz-linear-gradient(left, #4972B5, #618ACB);
  background: -webkit-linear-gradient(left, #4972B5, #618ACB);
  background: -o-linear-gradient(left, #4972B5, #618ACB);
  color: #FFFFFF;
  }
  
  .button:hover
  {
  background: #365D9D;
  background: linear-gradient(left, #365D9D, #436CAD);
  background: -moz-linear-gradient(left, #365D9D, #436CAD);
  background: -webkit-linear-gradient(left, #365D9D, #436CAD);
  background: -o-linear-gradient(left, #365D9D, #436CAD);
  color: #FFFFFF;
  border-color: #FBFFAD;
  }
 </style>

</head>
<body>
<form id="form2" name="form2" method="post" action="" onsubmit="return validacion()">
<table width="433" align="center">
    <tr valign="baseline">
      <td width="66">&nbsp;</td>
    <br/>
      <td width="50"><a href="../menu_admin_oct19.php"><img alt="img0" src="../nov12/home.png"  width="50" height="50" title="Ir al Menu Admin" id="Insert_logo" style="background-color: #FFFFFF; display:block;" /></a></td>
      <td width="56">&nbsp;</td>
      <td width="50"><a href="Informe.php"><img alt="img1" src="../nov12/informe_financiero.png"  width="50" height="50" title="Ir a Informes Contables" id="Insert_logo2" style="background-color: #FFFFFF; display:block;" /></a></td>
      <td width="56">&nbsp;</td>
      <td width="50"><a href="Extractos.php"><img alt="img1" src="../nov12/lista_pagos-Recuperado.png"  width="50" height="50" title="Ir a extractos financieros" id="Insert_logo2" style="background-color: #FFFFFF; display:block;" /></a></td>
      <td width="50">&nbsp;</td>
   
     
    </tr>
  </table>
</form>
<form action="<?php echo $editFormAction; ?>" method="post" name="form1" id="form1" onsubmit="return enviar();">
  <h3 align="center">FORMULARIO REGISTRO MOVIMIENTOS CONTABLES</h3>

  <table align="center">
    <tr valign="baseline">
      <td nowrap="nowrap" align="right">Codigo:</td>
      <td><select name="codigo" id="codigo" onchange="selecOp() ">
        <option value="value">Seleccione Codigo</option>
        <?php
do {  
?>
        <option value="<?php echo $row_cole['codigo']?>"><?php echo $row_cole['codigo']?></option>
        <?php
} while ($row_cole = mysql_fetch_assoc($cole));
  $rows = mysql_num_rows($cole);
  if($rows > 0 ) {
      mysql_data_seek($cole, 0);
	  $row_cole = mysql_fetch_assoc($cole);
  }
?>
      </select><img src="../nov12/ayuda.gif" alt="Ayuda" onmouseover="muestraAyuda(event, 'Fecha Calificacion')"></td>
    </tr>
    <tr valign="baseline">
      <td nowrap="nowrap" align="right">Concepto:</td>
      <td><input type="text" name="concepto" id="concepto" value="" required="required" size="28" /><img src="../nov12/ayuda.gif" alt="Ayuda" onmouseover="muestraAyuda(event, 'Fecha Calificacion')"></td>
    </tr>
    <tr valign="baseline">
      <td nowrap="nowrap" align="right">Observación:</td>
      <td><textarea name="comentarios" rows="5" cols="25" placeholder="Escribe aquí los detalles del movimiento" required="required"></textarea><img src="../nov12/ayuda.gif" alt="Ayuda" onmouseover="muestraAyuda(event, 'Fecha Calificacion')"></td>
    </tr>
       <tr valign="baseline">
      <td nowrap="nowrap" align="right">Fecha Movimiento:</td>
      <td><input  type="text"  name="fecha" id="fecha" size="28" placeholder="mm/dd/aaaa" required  value="<?php 
	  $date=date('Y-m-d');
	  echo $date;  ?>" /><img src="../nov12/ayuda.gif" alt="Ayuda" onmouseover="muestraAyuda(event, 'Fecha Calificacion')"></td>
    </tr>
     <tr valign="baseline">
      <td nowrap="nowrap" align="right">Entra:</td>
      <td><input type="number" size="32" name="entra" id="entra"  value="" placeholder="ej: Ingreso de $1'000.000" min="100" step="0.01" /><img src="../nov12/ayuda.gif" alt="Ayuda" onmouseover="muestraAyuda(event, 'Fecha Calificacion')"></td>
    </tr>
    <tr valign="baseline">
      <td nowrap="nowrap" align="right">Sale:</td>
      <td><input type="number" size="32" name="sale" id="sale"  value="" placeholder="ej: Gasto de $1'000.000" min="100" step="0.01" /><img src="../nov12/ayuda.gif" alt="Ayuda" onmouseover="muestraAyuda(event, 'Fecha Calificacion')"></td>
    </tr>
   
    <tr valign="baseline">
      <td nowrap="nowrap" align="right">Saldo General:</td>
      <td><input type="text" name="saldo123" disabled="disabled" id="fecha_saldo" value="$<?php echo htmlentities($row_conteo1['saldo_conta'], ENT_COMPAT, 'utf-8'); ?>" size="28" />
      <input type="text" name="saldo" hidden="" id="saldo" value="<?php echo htmlentities(round ($conteo,2), ENT_COMPAT, 'utf-8'); ?>" size="32" />
      <img src="../nov12/ayuda.gif" alt="Ayuda" onmouseover="muestraAyuda(event, 'Fecha_Calificacion')"></td>
    </tr>
    <tr valign="baseline">
      <td nowrap="nowrap" align="right">&nbsp;</td>
      <td>
      	<p>
		  <input type="submit" class="button" name="pago" value="Registrar Movimiento" />
	    </p>
    		
      </td>
    </tr>
  </table>
  <input type="hidden" name="id_movimiento" value="" />
  <input type="hidden" name="MM_insert" value="form1" />
  <input type="hidden" name="saldo_nuevo" id="saldo_nuevo" />
</form>
</p>
<script>

function enviar(){
	var formulario = document.getElementById("form1");	
	var dato = formulario[0];
 
	if (dato.value!="form1" ){
	   alert("Movimiento Registrado Exitosamente");
		formulario.submit();
		return true;
	} else {
		alert("La transacción no se puede realizar, la salida excede al saldo");
		return false;
	}
}

</script>

<script>
 $(".number").keydown(function (e) {
           // Permite: backspace, delete, tab, escape, enter and .
           if ($.inArray(e.keyCode, [46, 8, 9, 27, 13, 110, 190]) !== -1 ||
               // Permite: Ctrl+A
               (e.keyCode == 65 && e.ctrlKey === true) ||
               // Permite: home, end, left, right
               (e.keyCode >= 35 && e.keyCode <= 39)) {
               // solo permitir lo que no este dentro de estas condiciones es un return false
               return;
           }
           // Aseguramos que son numeros
           if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
               e.preventDefault();
           }
       });
</script>
<script>
$(function () {
$(function () {
$.datepicker.setDefaults($.datepicker.regional["es"]);
$("#fecha").datepicker({
dateFormat:'yy-mm-dd',
changeMonth:true,
changeYear:true,
firstDay: 1
});
});
});
</script>

<script type="text/javascript">
      jQuery(document).ready(function($) {
        // Change es un evento que se ejecuta cada vez que se cambia el valor de un elemento (input, select, etc).
        $('#cantidad').change(function(e) {
			var2=document.getElementById('fija').value;
          $('#abono').val(var2-$(this).val());
		 
        });
      });
</script>


<script type="text/javascript">
function selecOp()
{
var op=document.getElementById("codigo");
var tt=document.getElementById("concepto");
if (op.selectedIndex==0)tt.value="";
if (op.selectedIndex==1)tt.value="Alimentacion";
if (op.selectedIndex==2)tt.value="Cuotas Familiares";
if (op.selectedIndex==3)tt.value="Administracion Apto";
if (op.selectedIndex==4)tt.value="Empopasto apto";
if (op.selectedIndex==5)tt.value="Cedenar apto";
if (op.selectedIndex==6)tt.value="Montagas apto";
if (op.selectedIndex==7)tt.value="Claro apto";
if (op.selectedIndex==8)tt.value="Onces Estefany";
if (op.selectedIndex==9)tt.value="Colegio Estefany";
if (op.selectedIndex==10)tt.value="Personales Carolina";
if (op.selectedIndex==11)tt.value="Personales Estefany";
if (op.selectedIndex==12)tt.value="Personales Jose";
if (op.selectedIndex==13)tt.value="Credito Icetex";
if (op.selectedIndex==14)tt.value="Otros";
if (op.selectedIndex==15)tt.value="Cedenar Escuela";
if (op.selectedIndex==16)tt.value="Claro Escuela";
if (op.selectedIndex==17)tt.value="Empopasto Escuela";
if (op.selectedIndex==18)tt.value="Alquiler Escuela";
if (op.selectedIndex==19)tt.value="Papeleria";
if (op.selectedIndex==20)tt.value="Nomina";
if (op.selectedIndex==21)tt.value="Llamadas Externas";
if (op.selectedIndex==22)tt.value="Capacitaciones";
if (op.selectedIndex==23)tt.value="Elementos de Aseo";
if (op.selectedIndex==24)tt.value="Mantenimiento equipos";
if (op.selectedIndex==25)tt.value="Gastos de transporte";
if (op.selectedIndex==26)tt.value="Capitalizacion Escuela";
if (op.selectedIndex==27)tt.value="Empopasto Escuela";
if (op.selectedIndex==28)tt.value="Alquiler Escuela";
if (op.selectedIndex==29)tt.value="Papeleria";
if (op.selectedIndex==30)tt.value="Otras Entradas";
if (op.selectedIndex==31)tt.value="Otras Salidas";


}
</script> 


<style>
.ui-datepicker-calendar {
    visibility:visible: ;
    }
</style>

</div>
<p align="center">| <a href="../menu_admin_oct19.php">Cerrar Sesion</a> |</p>
<p>&nbsp;</p>

</body>


</html>
